<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add product</title>
  </head>
  <body>
    <form method="POST" action="/products">
      <label>Enter a product</label>
      <input type="text" name="product" />
      <label>Enter a image</label>
      <input type="text" name="image" />
      <label>Enter a price</label>
      <input type="text" name="price" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
