body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 101, 9, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1 {
  color: grey;
}

ul {
  list-style-type: none;
}

a {
  font-size: 20px;
  text-decoration: none;
  margin: 20px;
  color: white;
}
a:hover {
  color: rgba(255, 255, 255, 0.5);
}
